@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  table,
  th,
  td {
    @apply px-2 py-1 border border-[#ccc];
  }

  ::-webkit-scrollbar {
    width: inherit;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 2px outset;
  }

  ::-webkit-scrollbar-button:start {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 20 75 L 50 25 L 80 75 Z" /></svg>');
  }

  ::-webkit-scrollbar-button:end {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 20 25 L 50 75 L 80 25 Z" /></svg>');
  }

  ::-webkit-scrollbar-track {
    background: linear-gradient(45deg, #fff 0 50%, #ddd 50% 100%);
    background-size: 2px 2px;
  }
}